@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <div class="col-md-12">
            <main>
                <div id="login">
                    <form id="login-form">
                        <div class="field" style="display: none;">
                            <label for="identity">Your name</label>
                            <input type="text" name="identity" id="identity" />
                        </div>
                        <div class="field" style="display:none;">
                            <button>Start Video</button>
                        </div>
                    </form>
                </div>
                <div id="chat" style="float: right;" hidden>
                    <span id="room" style="display: none;"></span>
                    <p class="name" style="display:none;">
                        <span id="username"></span>
                    </p>
                    <div class="videos">
                        <div id="video-container">
                            <div id="participants">


                            </div>
                        </div>
                    </div>                    
                </div>
            </main>
        </div>
    </div>
</div>




@section scripts {
    <script src="https://media.twiliocdn.com/sdk/js/video/releases/2.7.2/twilio-video.min.js"></script>
    <script src="~/js/video.js"></script>
}
